@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --light-blue: #EFFBFE;
  --custom-grey: #757575;
  --main-color: dark-blue
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.grey {
  color: var(--custom-grey)
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--main-color);
}

a:hover {
  color: var(--light-blue);
}

a:active {
  color: var(--light-blue);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  color: var(--main-color);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

.header--left {
  font-family: 'Monoton', sans-serif;
}

.header--right {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.header--right > div {
  min-width: 8rem;
}

.header--link--cart{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.products-page--list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}



.product-miniature--img {
  max-height: 350px;
  resize: none;

}